<footer
  class="bg-gradient-to-r from-fuchsia-700 via-rose-600 to-orange-500 text-white py-8 mt-auto border-t border-white/35 backdrop-blur-xl relative z-10"
>
  <div class="max-w-7xl mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="flex justify-center md:justify-start gap-6 text-xl">
        <a
          href="https://www.instagram.com/chandan_gowda_cpt?igsh=MTZmdmN2bnFkdjdlOQ=="
          target="_blank"
          class="text-white hover:text-amber-100 transition-colors"
          ><i class="fa-brands fa-instagram"></i
        ></a>
        <a
          href="https://github.com/ChandanGowdaKS"
          target="_blank"
          class="text-white hover:text-amber-100 transition-colors"
          ><i class="fa-brands fa-facebook-f"></i
        ></a>
        <a
          href="https://www.linkedin.com/in/chandan-gowda-k-s/"
          target="_blank"
          class="text-white hover:text-amber-100 transition-colors"
          ><i class="fa-regular fa-envelope"></i
        ></a>
        <a href="#" class="text-white hover:text-amber-100 transition-colors"
          ><i class="fa-brands fa-twitter"></i
        ></a>
      </div>
      <div class="text-center">
        <p class="text-white">&copy; 2026 PGfinder </p>
      </div>
      <div class="flex justify-center md:justify-end gap-6">
        <a
          href="/privacy"
          class="text-white hover:text-amber-100 transition-colors"
          >Privacy</a
        >
        <a
          href="/Terms"
          class="text-white hover:text-amber-100 transition-colors"
          >Terms and Conditions</a
        >
      </div>
    </div>
  </div>
</footer>
