<% layout("./layouts/boilerplate"); %>

<div class="grid grid-cols-12 mt-3">
  <div
    class="col-span-12 md:col-span-6 md:col-start-4 bg-blue-100 text-blue-800 border border-blue-300 rounded p-4"
    role="alert"
  >
    <h4 class="font-bold text-lg"><%= message %></h4>
  </div>
</div>
